<!--Public View-->
<div class="album py-5 bg-body-tertiary">
  <div class="container">

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4 g-3" *ngIf="drinks && drinks.length > 0">
      <div class="col" *ngFor="let drink of drinks">
        <div class="card shadow-sm">
          <img [src]="drink.image" alt="Image">
          <div class="card-body">
            <p class="card-text"><b>{{ drink.name }}</b> - {{ drink.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group w-100">
                <button type="button" class="col-6 btn btn-sm btn-outline-secondary">
                  <mat-icon aria-hidden="false" fontIcon="add_shopping_cart" class="align-middle cart-icon"></mat-icon>
                </button>
                <button type="button" class="col-6 btn btn-sm btn-outline-secondary">
                  <mat-icon aria-hidden="false" fontIcon="face" class="align-middle customize-icon"></mat-icon>
                </button>
              </div>
              <small class="text-body-secondary"></small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p *ngIf="!drinks || drinks.length <= 0">No Drinks Found</p>
  </div>
</div>

<!--Admin View-->
<div class="container my-5">
  <h1 class="mb-3">Drinks</h1>

  <button type="button" class="btn btn-success mb-2" routerLink="/drinks/add">Add New Drink</button>

  <table class="table table-hover" *ngIf="drinks && drinks.length > 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Available</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let drink of dataSource.filteredData">
        <td>{{ drink.id }}</td>
        <td>{{ drink.name }}</td>
        <td>{{ drink.description }}</td>
        <td>{{ drink.isActive ? "Yes" : "No" }}</td>
        <td><a [routerLink]="['/drinks','edit',drink.id]">Edit</a></td>
      </tr>
    </tbody>
  </table>
  <mat-paginator #paginator (page)="onPageChanged($event)" [length]="drinks.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5,10,15]">
  </mat-paginator>
  <p *ngIf="!drinks || drinks.length <= 0">No Drinks Found</p>
</div>
