<div class="py-4 bg-body-tertiary">
  <div class="container my-3">
    <h1 class="mb-3">Update Drink</h1>
    <div class="row">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="updateDrink()">
          <div class="mb-3">
            <label for="id" class="form-label">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="updateDrinkRequest.id" readonly>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="updateDrinkRequest.name">
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="text" class="form-control" id="type" name="type" [(ngModel)]="updateDrinkRequest.type">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="updateDrinkRequest.description">
          </div>
          <div class="mb-3">
            <label for="dateCreated" class="form-label">Date Created</label>
            <input type="text" class="form-control" id="dateCreated" name="dateCreated" date="dd-MM-yyyy" [(ngModel)]="updateDrinkRequest.formattedDateCreated" readonly>
          </div>
          <div class="mb-3 form-check form-switch">
            <label for="isActive" class="form-label">Active</label>
            <input class="form-control form-check-input" type="checkbox" role="switch" id="isActive" name="isActive" [(ngModel)]="updateDrinkRequest.isActive">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" id="deleteBtn" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal" class="btn btn-danger mx-1">Delete</button>
          <button type="button" routerLink="/drinks" class="btn btn-secondary">Back</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Delete Confirmation Popup-->
<div class="modal" id="deleteConfirmModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete '{{updateDrinkRequest.name}}'?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="deleteConfirmed" class="btn btn-danger" (click)="deleteDrink()">Yes</button>
      </div>
    </div>
  </div>
</div>
