<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-sm border-bottom border-bottom-dark bg-dark" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" routerLink="">Jei's Home Cafe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ms-3 me-3 mb-lg-0">
          <!--Nav-->
          <li class="nav-item">
            <a class="nav-link active" routerLink="drinks">Drinks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="ingredients">Ingredients</a>
          </li>
        </ul>

        <div class="px-4 d-flex">
          <div class="row">
            <button type="button" class="col mx-1 btn btn-sm btn-secondary">
              <mat-icon aria-hidden="false" fontIcon="shopping_cart" class="align-middle cart-icon"></mat-icon>
            </button>
            <button type="button" class="col mx-1 btn btn-sm btn-secondary">
              <mat-icon aria-hidden="false" fontIcon="person" class="align-middle login-icon"></mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>
  <section class="py-4 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary mx-1">Main call to action</a>
          <a href="#" class="btn btn-secondary mx-1">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
</main>

<!--Spot where the routed component will appear-->
<router-outlet></router-outlet>

<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>

