
<!--Admin View-->
<div class="container my-5">
  <h1 class="mb-3">Ingredients</h1>

  <button type="button" class="btn btn-success mb-2" routerLink="/ingredients/add">Add New Ingredient</button>

  <table class="table table-hover" *ngIf="ingredients && ingredients.length > 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Unit</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingredient of dataSource.filteredData">
        <td>{{ ingredient.ingredientId }}</td>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.unit.name }}</td>
        <td>
          {{ ingredient.isActive ? 'Yes' : 'No' }}
        </td>
        <td><button class="btn btn-sm btn-outline-success" (click)="openEditIngredient(ingredient)">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <mat-paginator #paginator (page)="onPageChanged($event)" [length]="ingredients.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5,10,15]">
  </mat-paginator>
  <p *ngIf="!ingredients || ingredients.length <= 0">No Drinks Found</p>

</div>
